@charset "UTF-8";

/* ------------------------------------
◆　all
------------------------------------ */
html, body {
  color: #252525;
  background-color: #fff;
  /*font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;*/
  font-family: 'Quicksand', sans-serif;
  font-size: 13px;
	letter-spacing: 0.08em;
  line-height: 1.7em;
  width: 100%;
  min-width: 1200px;
  height: auto;
	position: relative;
	-webkit-text-size-adjust: 100%;
  color: #555;
}
a {
  color: #252525;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.hover:hover {
  cursor: pointer;
  filter: alpha(opacity=70);
  opacity: 0.7;
}

#wrapper {
	width: 100%;
  position: relative;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 30px;
}

.main-width {
  width: 900px;
  margin: 0 auto;
}

/* ------------------------------------
◆　header
------------------------------------ */
#header {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  padding: 20px 40px;
}

#header h1 {
  font-size: 40px;
  font-weight: bold;
  float: left;
}

#menu ul{
  float: right;
  font-size: 18px;
}

#menu li {
  float: left;
  padding-left: 40px;
}


/* ------------------------------------
◆　container
------------------------------------ */
#contaner {
  width: 100%;
  position: relative;
}



/* ------------------------------------
◆　container/main
------------------------------------ */
#main {
  width: 100%;
  height: 600px;
  position: relative;
}

#main .main-content {
  width: 500px;
  height:240px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

#main .main-content p {
  font-size: 18px;
  color: white;
  text-align: center;
  margin: 0 auto 40px;
  line-height: 1.8em;
}

#main .main-content a {
  display: block;
  width: 300px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid #fff;
  text-align: center;
  color: white;
  font-size: 18px;
  line-height: 50px;
  margin: 0 auto;
  background-color: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}

#main .main-content a:hover {
  background-color: #fff;
  color: #555;
}



/* ------------------------------------
◆　container/about me
------------------------------------ */
#about {
  width: 100%;
  padding: 50px 0px;
  background-color: #EFEFEF;
}

#about h2 {
font-size: 30px;

}

#about p {
  text-align: center;
  font-size: 18px;
  color: #555;
  line-height: 1.9em;
}



/* ------------------------------------
◆　container/blog
------------------------------------ */

#blog {
  width: 900px;
  margin: 50px auto;

}

#blog .blog-list li {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

#blog .blog-list li:last-child {
  border-bottom: none;
}

#blog .blog-list li a {
  display: block;
}

#blog .blog-list li a img {
  width: 100px;
  height: 100px;
  margin: 0;
  float: left;
}

#blog .blog-list li a .blog-list-info {
  width: 750px;
  float: right;
}

#blog .blog-list li a .blog-list-info h2 {
  font-size: 25px;
}

#blog .blog-list li a .blog-list-info p {
}

/* ------------------------------------
◆　container/contact
------------------------------------ */
#contact {
  width: 100%;
}

#contact .contact-form {
  width: 50%;
  height: 500px;
  background-color: #141720;
  float: left;
  padding: 20px;
  box-sizing: border-box;
}

#contact .contact-form .field {
  width: 70%;
  border-bottom: 1px solid #fff;
  margin: 0 auto 20px;
  text-align: left;
  padding: 10px 0;
}

#contact .contact-form input {
  color: white;
  font-size: 14px;
  background-color: #141720;
  border: none;
  width: 100%;
  outline: 0;
}

#contact .contact-form textarea {
  color: white;
  font-size: 14px;
  background-color: #141720;
  border: none;
  width: 100%;
  resize: none;
  outline: 0;
}

#contact .contact-form .submit-field {
  width: 70%;
  margin: 0 auto;
}

#contact .contact-form .submit-field input {
  display: block;
  width: 150px;
  background-color: #C71222;
  padding: 15px;
  border-radius: 50px;
}

#contact .map {
  float: left;
  width: 50%;
  height: 500px;
}

#contact .map iframe {
  width: 100%;
  height: 500px;
  display: block;
}




/* ------------------------------------
◆　footer
------------------------------------ */
#footer {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

#footer p {
  text-align: center;
  font-size: 14px;
}
